.App {
  margin: 0;
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.Routes {
  align-items: center;
}
.pretty-calendar {
  margin: 0;
  padding: 10%;
  background-image: url(/DevPics/IMG_0521.JPG);
  border: 10px solid #282c34;
  color: rgb(14, 23, 188);  
  border-top-color: rgb(50, 50, 208);
  border-right-color: rgb(50, 50, 288);
  background-size:contain;

}

.snack-calendar {
  margin: 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */