.App {
  margin: 0;
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.Routes {
  align-items: center;
}

.pretty-calendar {
  margin: 0;
  padding: 10%;
  opacity: 1.5;
  text-decoration: solid rgb(14, 23, 188);
  color: rgb(14, 23, 188);  
}

.pretty-calendar::after {
  content: "";
  background-image: url(./assets/images/IMG_0521.JPG);
  /* HELP :) can't figure out how to make this only one image on the screen */
  background-size: contain;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.snack-selection {
  background-color: #E7D8F0;
  color: black;
  border: solid black;
  margin: 1px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.snack-image {
  display: inline;
}

.snack-header {
  display: flex;
  flex-direction: column;
}
